<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="id.kakzaki.blue_thermal_printer">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"
        tools:node="remove"
    />
</manifest>
